# K-Nearest-Neighbors Data Analysis
Name: Trevor Kling

ID: 002270716

Email: kling109@mail.chapman.edu

Course: CPSC 392 - Introduction to Data Science

Last Date Modified: 9/14/2019

## Introduction

This project seeks to clean a .csv data set, removing outliers and other problems with the data to run a K-nearest-neighbor algorithm.

## Formatting the Data

### Removing Null Values

In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv("sample_train.csv", header=None)
train_data.columns = ['a', 'b', 'c', 'd', 'e']
train_data.describe()

                a           b           c           d
count  150.000000  149.000000  149.000000  149.000000
mean     5.876667    3.073826    3.755705    1.204027
std      0.946801    0.504761    1.769997    0.762896
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max     11.500000    6.200000    6.900000    2.500000

In [3]:
test_data = pd.read_csv("sample_test.csv", header=None)
test_data.columns = ['a', 'b', 'c', 'd', 'e']
test_data.describe()

               a          b          c          d
count  15.000000  15.000000  15.000000  15.000000
mean    5.586667   2.920000   3.700000   1.173333
std     0.697820   0.302844   1.664761   0.728469
min     4.600000   2.300000   1.300000   0.200000
25%     5.050000   2.750000   2.250000   0.600000
50%     5.700000   2.900000   4.200000   1.300000
75%     6.000000   3.050000   4.700000   1.550000
max     7.100000   3.500000   6.000000   2.500000

In [4]:
print(train_data)

        a    b    c    d          e
0     5.1  3.5  1.4  0.2     setosa
1     4.9  3.0  1.4  0.2     setosa
2     4.7  3.2  1.3  0.2     setosa
3     4.6  3.1  1.5  0.2     setosa
4     5.0  3.6  1.4  0.2     setosa
5     5.4  3.9  1.7  0.4     setosa
6     4.6  6.2  1.4  0.3     setosa
7     5.0  3.4  1.5  0.2     setosa
8     4.4  2.9  1.4  0.2     setosa
9     4.9  3.1  1.5  0.1     setosa
10    5.4  3.7  1.5  0.2     setosa
11    4.8  3.4  1.6  0.2     setosa
12    4.8  3.0  1.4  0.1     setosa
13    4.3  3.0  1.1  0.1     setosa
14    5.8  4.0  1.2  0.2     setosa
15    5.7  4.4  1.5  0.4     setosa
16    5.4  3.9  1.3  0.4     setosa
17    5.1  3.5  1.4  0.3     setosa
18    5.7  3.8  1.7  0.3     setosa
19    5.1  3.8  1.5  0.3     setosa
20    5.4  3.4  1.7  0.2     setosa
21    5.1  3.7  1.5  NaN     setosa
22    4.6  3.6  1.0  0.2     setosa
23    5.1  3.3  1.7  0.5     setosa
24    4.8  3.4  1.9  0.2     setosa
25    5.0  3.0  1.6  0.2     setosa
26    5.0  3.4  1.6  0.4     setosa
27    5.2  3.5  1.5  0.2     setosa
28    5.2  3.4  1.4  0.2     setosa
29    4.7  3.2  1.6  0.2     setosa
..    ...  ...  ...  ...        ...
120   6.9  3.2  5.7  2.3  virginica
121   5.6  2.8  4.9  2.0  virginica
122   7.7  2.8  6.7  2.0  virginica
123   6.3  2.7  4.9  1.8  virginica
124   6.7  3.3  5.7  2.1  virginica
125   7.2  3.2  6.0  1.8  virginica
126   6.2  2.8  4.8  1.8  virginica
127   6.1  3.0  4.9  1.8  virginica
128   6.4  2.8  5.6  2.1  virginica
129   7.2  3.0  5.8  1.6  virginica
130   7.4  2.8  6.1  1.9  virginica
131   7.9  3.8  6.4  2.0  virginica
132   6.4  2.8  5.6  2.2  virginica
133   6.3  2.8  5.1  1.5  virginica
134   6.1  2.6  5.6  1.4  virginica
135   7.7  3.0  6.1  2.3  virginica
136   6.3  3.4  5.6  2.4  virginica
137   6.4  3.1  5.5  1.8  virginica
138   6.0  3.0  4.8  1.8  virginica
139   6.9  3.1  5.4  2.1  virginica
140   6.7  3.1  5.6  2.4  virginica
141   6.9  3.1  5.1  2.3  virginica
142   5.8  2.7  5.1  1.9  virginica
143   6.8  3.2  5.9  2.3  virginica
144   6.7  3.3  5.7  2.5  virginica
145   6.7  3.0  5.2  2.3  virginica
146   6.3  2.5  5.0  1.9  virginica
147  11.5  3.0  5.2  2.0  virginica
148   6.2  3.4  5.4  2.3  virginica
149   5.9  3.0  5.1  1.8  virginica

[150 rows x 5 columns]

In [5]:
print(test_data)

      a    b    c    d           e
0   5.1  3.5  1.4  0.2  versicolor
1   4.9  3.0  1.4  0.2      setosa
2   4.7  3.2  1.3  0.2      setosa
3   4.6  3.1  1.5  0.2      setosa
4   5.0  2.3  3.3  1.0  versicolor
5   5.6  2.7  4.2  1.3  versicolor
6   5.7  3.0  4.2  1.2  versicolor
7   5.7  2.9  4.2  1.3  versicolor
8   6.2  2.9  4.3  1.3  versicolor
9   5.1  2.5  3.0  1.1  versicolor
10  5.7  2.8  4.1  1.3  versicolor
11  6.3  3.3  6.0  2.5   virginica
12  5.8  2.7  5.1  1.9   virginica
13  7.1  3.0  5.9  2.1   virginica
14  6.3  2.9  5.6  1.8      setosa

In [6]:
types = train_data.iloc[:,4].unique()
print(types)

['setosa' 'versicolor' 'virginica']

Because the data has 3 distinct targets, these will be subdivided into their own data sets to check for outliers and to find how to fix missing values.

In [7]:
setosa = train_data.loc[train_data.iloc[:,4] == 'setosa']
setosa.describe()

              a          b          c          d
count  50.00000  50.000000  50.000000  49.000000
mean    5.00600   3.474000   1.464000   0.240816
std     0.35249   0.547652   0.173511   0.105906
min     4.30000   2.300000   1.000000   0.100000
25%     4.80000   3.125000   1.400000   0.200000
50%     5.00000   3.400000   1.500000   0.200000
75%     5.20000   3.700000   1.575000   0.300000
max     5.80000   6.200000   1.900000   0.600000

In [8]:
versicolor = train_data.loc[train_data.iloc[:,4] == 'versicolor']
versicolor.describe()

               a          b          c          d
count  50.000000  49.000000  49.000000  50.000000
mean    5.936000   2.767347   4.261224   1.326000
std     0.516171   0.316483   0.474700   0.197753
min     4.900000   2.000000   3.000000   1.000000
25%     5.600000   2.500000   4.000000   1.200000
50%     5.900000   2.800000   4.400000   1.300000
75%     6.300000   3.000000   4.600000   1.500000
max     7.000000   3.400000   5.100000   1.800000

In [9]:
virginica = train_data.loc[train_data.iloc[:,4] == 'virginica']
virginica.describe()

              a          b          c         d
count  50.00000  50.000000  50.000000  50.00000
mean    6.68800   2.974000   5.552000   2.02600
std     0.94148   0.322497   0.551895   0.27465
min     4.90000   2.200000   4.500000   1.40000
25%     6.22500   2.800000   5.100000   1.80000
50%     6.50000   3.000000   5.550000   2.00000
75%     7.05000   3.175000   5.875000   2.30000
max    11.50000   3.800000   6.900000   2.50000

In [10]:
nullCol = train_data[train_data.isnull().any(axis=1)]
print(nullCol)

      a    b    c    d           e
21  5.1  3.7  1.5  NaN      setosa
64  5.6  NaN  3.6  1.3  versicolor
96  5.7  2.9  NaN  1.3  versicolor

In [11]:
setosa.at[21, "d"] = 0.2
versicolor.at[64, "b"] = 2.8
versicolor.at[96, "c"] = 4.3

Each of the missing values is set to be the mean value of its given label. Subsequently, the same process is performed with outliers.

### Finding Outliers

In [12]:
aSetOutliers = setosa[np.abs(setosa["a"] - setosa["a"].mean()) >= (3*setosa["a"].std())]
bSetOutliers = setosa[np.abs(setosa["b"] - setosa["b"].mean()) >= (3*setosa["b"].std())]
cSetOutliers = setosa[np.abs(setosa["c"] - setosa["c"].mean()) >= (3*setosa["c"].std())]
dSetOutliers = setosa[np.abs(setosa["d"] - setosa["d"].mean()) >= (3*setosa["d"].std())]
print(aSetOutliers)

Empty DataFrame
Columns: [a, b, c, d, e]
Index: []

In [13]:
print(bSetOutliers)

     a    b    c    d       e
6  4.6  6.2  1.4  0.3  setosa

In [14]:
print(cSetOutliers)

Empty DataFrame
Columns: [a, b, c, d, e]
Index: []

In [15]:
print(dSetOutliers)

      a    b    c    d       e
43  5.0  3.5  1.6  0.6  setosa

In [16]:
setosa.at[6, "b"] = 3.5
setosa.at[43, "d"] = 0.2

In [17]:
aVersOutliers = versicolor[np.abs(versicolor["a"] - versicolor["a"].mean()) >= (3*versicolor["a"].std())]
bVersOutliers = versicolor[np.abs(versicolor["b"] - versicolor["b"].mean()) >= (3*versicolor["b"].std())]
cVersOutliers = versicolor[np.abs(versicolor["c"] - versicolor["c"].mean()) >= (3*versicolor["c"].std())]
dVersOutliers = versicolor[np.abs(versicolor["d"] - versicolor["d"].mean()) >= (3*versicolor["d"].std())]
print(aVersOutliers)

Empty DataFrame
Columns: [a, b, c, d, e]
Index: []

In [18]:
print(bVersOutliers)

Empty DataFrame
Columns: [a, b, c, d, e]
Index: []

In [19]:
print(cVersOutliers)

Empty DataFrame
Columns: [a, b, c, d, e]
Index: []

In [20]:
print(dVersOutliers)

Empty DataFrame
Columns: [a, b, c, d, e]
Index: []

No outliers found in the "versicolor" set.

In [21]:
aVirgOutliers = virginica[np.abs(virginica["a"] - virginica["a"].mean()) >= (3*virginica["a"].std())]
bVirgOutliers = virginica[np.abs(virginica["b"] - virginica["b"].mean()) >= (3*virginica["b"].std())]
cVirgOutliers = virginica[np.abs(virginica["c"] - virginica["c"].mean()) >= (3*virginica["c"].std())]
dVirgOutliers = virginica[np.abs(virginica["c"] - virginica["c"].mean()) >= (3*virginica["c"].std())]
print(aVirgOutliers)

        a    b    c    d          e
147  11.5  3.0  5.2  2.0  virginica

In [22]:
print(bVirgOutliers)

Empty DataFrame
Columns: [a, b, c, d, e]
Index: []

In [23]:
print(cVirgOutliers)

Empty DataFrame
Columns: [a, b, c, d, e]
Index: []

In [24]:
print(dVirgOutliers)

Empty DataFrame
Columns: [a, b, c, d, e]
Index: []

In [25]:
virginica.at[147, "a"] = 6.7

The outliers are found by checking for values which are farther than 3 standard deviations away from the mean, in any of the four numerical columns.

### Removing Duplicates

In [26]:
setosa.drop_duplicates()
versicolor.drop_duplicates()
virginica.drop_duplicates()

       a    b    c    d          e
100  6.3  3.3  6.0  2.5  virginica
101  5.8  2.7  5.1  1.9  virginica
102  7.1  3.0  5.9  2.1  virginica
103  6.3  2.9  5.6  1.8  virginica
104  6.5  3.0  5.8  2.2  virginica
105  7.6  3.0  6.6  2.1  virginica
106  4.9  2.5  4.5  1.7  virginica
107  7.3  2.9  6.3  1.8  virginica
108  6.7  2.5  5.8  1.8  virginica
109  7.2  3.6  6.1  2.5  virginica
110  6.5  3.2  5.1  2.0  virginica
111  6.4  2.7  5.3  1.9  virginica
112  6.8  3.0  5.5  2.1  virginica
113  5.7  2.5  5.0  2.0  virginica
114  5.8  2.8  5.1  2.4  virginica
115  6.4  3.2  5.3  2.3  virginica
116  6.5  3.0  5.5  1.8  virginica
117  7.7  3.8  6.7  2.2  virginica
118  7.7  2.6  6.9  2.3  virginica
119  6.0  2.2  5.0  1.5  virginica
120  6.9  3.2  5.7  2.3  virginica
121  5.6  2.8  4.9  2.0  virginica
122  7.7  2.8  6.7  2.0  virginica
123  6.3  2.7  4.9  1.8  virginica
124  6.7  3.3  5.7  2.1  virginica
125  7.2  3.2  6.0  1.8  virginica
126  6.2  2.8  4.8  1.8  virginica
127  6.1  3.0  4.9  1.8  virginica
128  6.4  2.8  5.6  2.1  virginica
129  7.2  3.0  5.8  1.6  virginica
130  7.4  2.8  6.1  1.9  virginica
131  7.9  3.8  6.4  2.0  virginica
132  6.4  2.8  5.6  2.2  virginica
133  6.3  2.8  5.1  1.5  virginica
134  6.1  2.6  5.6  1.4  virginica
135  7.7  3.0  6.1  2.3  virginica
136  6.3  3.4  5.6  2.4  virginica
137  6.4  3.1  5.5  1.8  virginica
138  6.0  3.0  4.8  1.8  virginica
139  6.9  3.1  5.4  2.1  virginica
140  6.7  3.1  5.6  2.4  virginica
141  6.9  3.1  5.1  2.3  virginica
143  6.8  3.2  5.9  2.3  virginica
144  6.7  3.3  5.7  2.5  virginica
145  6.7  3.0  5.2  2.3  virginica
146  6.3  2.5  5.0  1.9  virginica
147  6.7  3.0  5.2  2.0  virginica
148  6.2  3.4  5.4  2.3  virginica
149  5.9  3.0  5.1  1.8  virginica

Finally, duplicate values are removed from the dataset to prevent unnecessary biasing.

### Recombining Data

In [27]:
finalData = pd.concat([setosa, versicolor, virginica])
finalData.to_csv(path_or_buf = "cleaned_data.csv", index=False, header=None)

## Running K-Nearest-Neighbors

In [28]:
!python 'KNN.py'

Predicted that test point  0  was  setosa
 but it is actually  versicolor

Predicted that test point  14  was  virginica
 but it is actually  setosa

The accuracy is:  86.66666666666667  percent

## Analysis

When analyzing the data set, three ouliers and three null values were found.  Each of these missing or offset values were replaced by the mean values of their given label.  This maintains the general statistics of the data set, which may produce better results for the K-Nearest-Neightbor algorithm without omitting values.  The data set produced a model with an accuracy of $86\frac{2}{3}$ percent; of the 15 values tested against, the model failed to properly identify two of them for an accuracy of $\frac{13}{15}$.

The most computationally expensive portion of the K-Nearest-Neighbor algorithm certainly is the main loop:

```python
for i in test_data:
		minDist = 0
		minDistIndex = 0
		for j in range(len(train_data)):
			currDist = cosDistance(i, train_data[j])
			if currDist > minDist:
				minDist = currDist
				minDistIndex = j
		predictions.append(train_labels[minDistIndex])
```

This loop requires the method to take each instance in the test data, and then compare it to every instance in the training data.  In addition, the computation of the cosine distance requires multiple computations over every value in the instance.  In particular, the `for j in range(len(train_data))` loop occupies the vast majority of the computation time.

If the dataset were to contain categorical variables as well as numerical ones, the method of computing the distance between would need to be modified.  Cosine distance could still be used for the numerical values, but a different method would need to be employed to handle the categorical ones.  One approach is to map each value of a category to a numerical value, and then proceed with cosine distance as normal.  This appraoch is appealing as it does not change the degree of information represented by the categorical values, but allows a uniform algorithm for all values.